@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700;800;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Bellefair&family=Crimson+Text:wght@400;600&family=DM+Sans:wght@400;500;700&family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Tomorrow:wght@200;300;400;500;600;700;800;900&family=Work+Sans:wght@200;300;400;500;600;700;800;900&family=IBM+Plex+Sans:wght@300;500;600;700&family=Instrument+Serif&family=Inter:wght@200;300;400;500;600;700;800;900&family=Lato:wght@400;900&family=Noto+Serif+NP+Hmong&family=Nunito:wght@400;500;600;700;800;900;1000&family=Oswald:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,600&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600&family=Dela+Gothic+One&family=Ubuntu:ital,wght@1,700&display=swap');

body{
    background: rgb(83,96,113);
    background: linear-gradient(157deg, rgba(83,96,113,1) 16%, rgba(119,127,138,1) 33%);
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    font-family: inter;
}
.logo h1{
    color: #c2a57c;
    font-size: 20px;
    font-weight: 700;
    font-family: inter;
}
.logo span{
    color: #d4ddea;
    font-weight: 400;
}
.nav-items a{
    color: #c9d3df;
    font-family: inter;
    font-size: 15px;
}
.socials{
    color: #ffffffae;
}
.website{
writing-mode: vertical-lr;
color: #ffffffae;
}
.website a{
    text-align: center;
    font-size: 15px;
    font-weight: 400;

}
.small-text h1{
    color: #a99e94;
    font-weight: 600;
}
.small-text{
    border-bottom: 2px solid #bcc3ce;
    width: 45%;
    margin: 0 auto;
}
.big-text{
    font-size:90px;
    color: #fff;
    font-weight: 600;
    text-align: center;
}
.big-text img{
    height: 100%;
    width: 100%;
}
.scroll-down-text{
    color: #e6eaec;
    font-family:noto sans;
    font-size: 15px;
    font-weight: 400;
}
.scroll-down-text i{
    font-size: 30px;
}
.small-text-two h1{
    color: #a99e94;
    font-weight: 600;
}
.small-text-two h1::after{
    content: '';
    display: block;
    width: 20%;
    height: 3px;
    background: #bcc3ce;
    margin: 0 auto;
    margin-top: 3px;
}
.small-text-two h2{
    font-size: 50px;
    font-weight: 700;
    font-family: inter;
    color: #c2a57c;
}
.small-text-two h2 span{
    color: #d4ddea;
}
.small-text-two p{
    color: #b8bcc8;
    font-weight: 600;
}
.small-text-two{
    bottom: -10%;
}
.big-text img{
    /* clip-path: polygon(0% 99%, 37% 85%, 67% 86%, 100% 77%, 100% 0, 0 0); */
}
.routes iframe{
    top: -6%;
    box-shadow: 0px 0px 6px 4px #0000007b;
    border-radius: 2px;
}
.route-img{
    width: 60%;
}